In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# # install octave
# !sudo apt-get -qq update
# !sudo apt-get -qq install octave octave-signal liboctave-dev

# # install oct2py that compatible with colab
# import os

# from pkg_resources import get_distribution

# os.system(
#     f"pip install -qq"
#     f" ipykernel=={get_distribution('ipykernel').version}"
#     f" ipython=={get_distribution('ipython').version}"
#     f" tornado=={get_distribution('tornado').version}"
#     f" oct2py"
# )

# # install packages
# !pip install -qq matpower matpowercaseframes

In [3]:
import matpower
import oct2py

print(f"oct2py version: {oct2py.__version__}")
print(f"matpower version: {matpower.__version__}")

oct2py version: 5.8.0
matpower version: 8.1.0.2.2.3

In [22]:
import os

import pandas as pd
from matpower import path_matpower, start_instance

from matpowercaseframes import CaseFrames, xGenDataTableFrames
from matpowercaseframes.constants import ATTRIBUTES_INFO

In [5]:
path_most_ex_cases = os.path.join(path_matpower, "most/examples")

In [6]:
m = start_instance()

In [7]:
verbose = 1
mpopt = m.mpoption("verbose", verbose)
mpopt = m.mpoption(mpopt, "out.gen", 1)
mpopt = m.mpoption(mpopt, "model", "DC")
mpopt = m.mpoption(mpopt, "opf.dc.solver", "MIPS")
mpopt = m.mpoption(mpopt, "most.solver", mpopt.opf.dc.solver)
mpopt = m.mpoption(mpopt, "most.dc_model", 0)  # use model with no network
mpopt

{'v': 25.0,
 'model': 'DC',
 'pf': {'alg': 'NR',
  'current_balance': 0.0,
  'v_cartesian': 0.0,
  'tol': 1e-08,
  'nr': {'max_it': 10.0, 'lin_solver': ''},
  'fd': {'max_it': 30.0},
  'gs': {'max_it': 1000.0},
  'zg': {'max_it': 1000.0},
  'radial': {'max_it': 20.0, 'vcorr': 0.0},
  'enforce_q_lims': 0.0},
 'cpf': {'parameterization': 3.0,
  'stop_at': 'NOSE',
  'enforce_p_lims': 0.0,
  'enforce_q_lims': 0.0,
  'enforce_v_lims': 0.0,
  'enforce_flow_lims': 0.0,
  'step': 0.05,
  'step_min': 0.0001,
  'step_max': 0.2,
  'adapt_step': 0.0,
  'adapt_step_damping': 0.7,
  'adapt_step_tol': 0.001,
  'target_lam_tol': 1e-05,
  'nose_tol': 1e-05,
  'p_lims_tol': 0.01,
  'q_lims_tol': 0.01,
  'v_lims_tol': 0.0001,
  'flow_lims_tol': 0.01,
  'plot': {'level': 0.0, 'bus': []},
  'user_callback': ''},
 'opf': {'ac': {'solver': 'DEFAULT'},
  'dc': {'solver': 'MIPS'},
  'current_balance': 0.0,
  'v_cartesian': 0.0,
  'violation': 5e-06,
  'use_vg': 0.0,
  'flow_lim': 'S',
  'ignore_angle_lim': 0.0,
  'softlims': {'default': 1.0},
  'start': 0.0,
  'return_raw_der': 0.0},
 'verbose': 1.0,
 'out': {'all': -1.0,
  'sys_sum': 1.0,
  'area_sum': 0.0,
  'bus': 1.0,
  'branch': 1.0,
  'gen': 1.0,
  'lim': {'all': -1.0, 'v': 1.0, 'line': 1.0, 'pg': 1.0, 'qg': 1.0},
  'force': 0.0,
  'suppress_detail': -1.0},
 'mips': {'step_control': 0.0,
  'linsolver': '',
  'feastol': 0.0,
  'gradtol': 1e-06,
  'comptol': 1e-06,
  'costtol': 1e-06,
  'max_it': 150.0,
  'sc': {'red_it': 20.0}},
 'exp': {'use_legacy_core': 0.0, 'sys_wide_zip_loads': {'pw': [], 'qw': []}},
 'glpk': {'opts': [], 'opt_fname': ''},
 'most': {'build_model': 1.0,
  'solve_model': 1.0,
  'resolve_new_cost': 0.0,
  'dc_model': 0.0,
  'fixed_res': -1.0,
  'q_coordination': 0.0,
  'security_constraints': -1.0,
  'storage': {'terminal_target': -1.0, 'cyclic': 0.0},
  'uc': {'run': -1.0, 'cyclic': 0.0},
  'alpha': 0.0,
  'solver': 'MIPS',
  'skip_prices': 0.0,
  'price_stage_warn_tol': 1e-07}}

## Example 1 - Economic Dispatch

In [23]:
def display_cf(cf):
    data = {"INFO": {}}
    for attribute in ATTRIBUTES_INFO:
        if attribute in cf._attributes:
            data["INFO"][attribute] = getattr(cf, attribute, None)
    display(pd.DataFrame(data=data))

    for attribute in cf._attributes:
        if attribute in ATTRIBUTES_INFO or attribute == "reserves":
            continue
        print(attribute)
        display(getattr(cf, attribute))

    for attribute in cf.reserves._attributes:
        print(attribute)
        display(getattr(cf.reserves, attribute))

In [24]:
cf = CaseFrames(os.path.join(path_most_ex_cases, "ex_case3a.m"), load_case_engine=m)
display_cf(cf)

          INFO
version      2
baseMVA  100.0

bus

,BUS_I,BUS_TYPE,PD,QD,GS,BS,BUS_AREA,VM,VA,BASE_KV,ZONE,VMAX,VMIN
bus,,,,,,,,,,,,,
1,1.0,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95
2,2.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95
3,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95

gen

,GEN_BUS,PG,QG,QMAX,QMIN,VG,MBASE,GEN_STATUS,PMAX,PMIN,...,PC2,QC1MIN,QC1MAX,QC2MIN,QC2MAX,RAMP_AGC,RAMP_10,RAMP_30,RAMP_Q,APF
gen,,,,,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
2,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
3,2.0,200.0,0.0,50.0,-50.0,1.0,100.0,1.0,500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,600.0,600.0,0.0,0.0
4,3.0,-450.0,0.0,0.0,0.0,1.0,100.0,1.0,0.0,-450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,500.0,500.0,0.0,0.0

branch

,F_BUS,T_BUS,BR_R,BR_X,BR_B,RATE_A,RATE_B,RATE_C,TAP,SHIFT,BR_STATUS,ANGMIN,ANGMAX
branch,,,,,,,,,,,,,
1,1.0,2.0,0.005,0.01,0.0,300.0,300.0,300.0,0.0,0.0,1.0,-360.0,360.0
2,1.0,3.0,0.005,0.01,0.0,240.0,240.0,240.0,0.0,0.0,1.0,-360.0,360.0
3,2.0,3.0,0.005,0.01,0.0,300.0,300.0,300.0,0.0,0.0,1.0,-360.0,360.0

gencost

     MODEL  STARTUP  SHUTDOWN  NCOST   C2      C1   C0
gen
1      2.0      0.0       0.0    3.0  0.1     0.0  0.0
2      2.0      0.0       0.0    3.0  0.1     0.0  0.0
3      2.0      0.0       0.0    3.0  0.1     0.0  0.0
4      2.0      0.0       0.0    3.0  0.0  1000.0  0.0

zones

gen     1    2    3    4
zone
1     1.0  1.0  1.0  0.0

req

       PREQ
zone
1     150.0

cost

      C1
gen
1    1.0
2    3.0
3    5.0

qty

      PQTY
gen
1    100.0
2    100.0
3    200.0

In [9]:
# TODO: convert mdi into DataFrame
# mdi: MOST data structure input
mdi = m.loadmd(cf.to_mpc())
mdi

{'Delta_T': 1.0,
 'Storage': {'UnitIdx': [],
  'ExpectedTerminalStorageAim': [],
  'ExpectedTerminalStorageMin': [],
  'ExpectedTerminalStorageMax': [],
  'rho': [],
  'TerminalChargingPrice0': [],
  'TerminalDischargingPrice0': [],
  'TerminalChargingPriceK': [],
  'TerminalDischargingPriceK': []},
 'UC': {'CommitKey': [],
  'CommitSched': array([[1.],
         [1.],
         [1.],
         [1.]])},
 'idx': {'nt': 1.0},
 'tstep': {'TransMat': 1.0, 'OpCondSched': {'tab': []}},
 'mpc': {'version': '2',
  'baseMVA': 100.0,
  'bus': array([[  1.  ,   3.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95],
         [  2.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95],
         [  3.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95]]),
  'gen': array([[   1.,  125.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
           250.,    0.,    0.],
         [   1.,  125.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
           250.,    0.,    0.],
         [   2.,  200.,    0.,   50.,  -50.,    1.,  100.,    1.,  500.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  600.,
           600.,    0.,    0.],
         [   3., -450.,    0.,    0.,    0.,    1.,  100.,    1.,    0.,
          -450.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  500.,
           500.,    0.,    0.]]),
  'branch': array([[ 1.0e+00,  2.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
           3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02],
         [ 1.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  2.4e+02,
           2.4e+02,  2.4e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02],
         [ 2.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
           3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02]]),
  'gencost': array([[2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 0.e+00, 1.e+03, 0.e+00]]),
  'reserves': {'zones': array([[1., 1., 1., 0.]]),
   'req': 150.0,
   'cost': array([[1.],
          [3.],
          [5.]]),
   'qty': array([[100.],
          [100.],
          [200.]])}},
 'InitialPg': array([[ 125.],
        [ 125.],
        [ 200.],
        [-450.]]),
 'RampWearCostCoeff': array([[0.],
        [0.],
        [0.],
        [0.]]),
 'offer': {'PositiveActiveReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveActiveReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'NegativeActiveReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeActiveReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'PositiveActiveDeltaPrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeActiveDeltaPrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveLoadFollowReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveLoadFollowReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'NegativeLoadFollowReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeLoadFollowReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]])},
 'cont': {'contab': []}}

In [10]:
# TODO:
#   1. Convert mdo into DataFrame
#   2. Clean up classdef element has been converted to a struct
# mdo: MOST data structure output
mdo = m.most(mdi, mpopt)
mdo

=============================================================================
          MATPOWER Optimal Scheduling Tool  --  MOST Version 1.3.1
          A multiperiod stochastic secure OPF with unit commitment
                       -----  Built on MATPOWER  -----
  by Carlos E. Murillo-Sanchez, Universidad Nacional de Colombia--Manizales
                  and Ray D. Zimmerman, Cornell University
       (c) 2010-2025 Power Systems Engineering Research Center (PSERC)
=============================================================================
- Building indexing structures.
- Building expected storage-tracking mechanism.
- Building constraint submatrices.
  - Building load balance constraints.
  - Building CCV constraints for piecewise-linear costs.
  - Building contingency reserve constraints.
  - Building ramping transitions and reserve constraints.
- Building cost structures.
- Assembling full set of constraints.
- Assembling full set of variable bounds.
- Assembling full set of costs.
- Calling QP solver.

============================================================================

MATPOWER Interior Point Solver -- MIPS, Version 1.5.2, 12-Jul-2025
 (using built-in linear solver)
Converged!

============================================================================
- MOST: QP solved successfully.
- Post-processing results.
- MOST: Done.

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

warning: load: classdef element has been converted to a struct
warning: called from
    _pyeval at line 28 column 9

{'Delta_T': 1.0,
 'Storage': {'UnitIdx': [],
  'ExpectedTerminalStorageAim': [],
  'ExpectedTerminalStorageMin': [],
  'ExpectedTerminalStorageMax': [],
  'rho': [],
  'TerminalChargingPrice0': [],
  'TerminalDischargingPrice0': [],
  'TerminalChargingPriceK': [],
  'TerminalDischargingPriceK': [],
  'ForceCyclicStorage': 0.0,
  'ForceExpectedTerminalStorage': 0.0,
  'ExpectedStorageState': array([], shape=(0, 1), dtype=float64)},
 'UC': {'CommitKey': [],
  'CommitSched': array([[1.],
         [1.],
         [1.],
         [1.]]),
  'run': 0.0,
  'CyclicCommitment': 0.0},
 'idx': {'nt': 1.0,
  'ng': 4.0,
  'ns': 0.0,
  'nj': 1.0,
  'ntds': 0.0,
  'nzds': 0.0,
  'nyds': 0.0,
  'nb': 3.0,
  'ny': 0.0,
  'nc': 0.0,
  'nf_total': 1.0,
  'nb_total': 3.0,
  'ns_total': 0.0,
  'ntramp': 0.0,
  'nvars': 24.0},
 'tstep': {'TransMat': 1.0, 'OpCondSched': {'tab': []}, 'TransMask': 1.0},
 'mpc': {'version': '2',
  'baseMVA': 100.0,
  'bus': array([[  1.  ,   3.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95,   0.  ,   0.  ,   0.  ,
            0.  ],
         [  2.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95,   0.  ,   0.  ,   0.  ,
            0.  ],
         [  3.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
            0.  , 135.  ,   1.  ,   1.05,   0.95,   0.  ,   0.  ,   0.  ,
            0.  ]]),
  'gen': array([[   1.,  125.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
           250.,    0.,    0.,    0.,    0.,    0.,    0.],
         [   1.,  125.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
           250.,    0.,    0.,    0.,    0.,    0.,    0.],
         [   2.,  200.,    0.,   50.,  -50.,    1.,  100.,    1.,  500.,
             0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  600.,
           600.,    0.,    0.,    0.,    0.,    0.,    0.],
         [   3., -450.,    0.,    0.,    0.,    1.,  100.,    1.,    0.,
          -450.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  500.,
           500.,    0.,    0.,    0.,    0.,    0.,    0.]]),
  'branch': array([[ 1.0e+00,  2.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
           3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
           0.0e+00,  0.0e+00,  0.0e+00],
         [ 1.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  2.4e+02,
           2.4e+02,  2.4e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
           0.0e+00,  0.0e+00,  0.0e+00],
         [ 2.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
           3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
           3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
           0.0e+00,  0.0e+00,  0.0e+00]]),
  'gencost': array([[2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
         [2.e+00, 0.e+00, 0.e+00, 3.e+00, 0.e+00, 1.e+03, 0.e+00]]),
  'reserves': {'zones': array([[1., 1., 1., 0.]]),
   'req': 150.0,
   'cost': array([[1.],
          [3.],
          [5.]]),
   'qty': array([[100.],
          [100.],
          [200.]])},
  'f': 0.0,
  'et': 0.0,
  'success': 1.0},
 'InitialPg': array([[ 125.],
        [ 125.],
        [ 200.],
        [-450.]]),
 'RampWearCostCoeff': array([[0.],
        [0.],
        [0.],
        [0.]]),
 'offer': {'PositiveActiveReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveActiveReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'NegativeActiveReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeActiveReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'PositiveActiveDeltaPrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeActiveDeltaPrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveLoadFollowReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'PositiveLoadFollowReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]]),
  'NegativeLoadFollowReservePrice': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'NegativeLoadFollowReserveQuantity': array([[ 400.],
         [ 400.],
         [1000.],
         [ 900.]])},
 'cont': {'contab': []},
 'DCMODEL': 0.0,
 'IncludeFixedReserves': 0.0,
 'SecurityConstrained': 0.0,
 'QCoordination': 0.0,
 'alpha': 0.0,
 'OpenEnded': 1.0,
 'flow': {'mpc': {'version': '2',
   'baseMVA': 100.0,
   'bus': array([[  1.  ,   3.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
             0.  , 135.  ,   1.  ,   1.05,   0.95,  30.  ,   0.  ,   0.  ,
             0.  ],
          [  2.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
             0.  , 135.  ,   1.  ,   1.05,   0.95,  30.  ,   0.  ,   0.  ,
             0.  ],
          [  3.  ,   2.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,
             0.  , 135.  ,   1.  ,   1.05,   0.95,  30.  ,   0.  ,   0.  ,
             0.  ]]),
   'gen': array([[   1.,  150.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
              0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
            250.,    0.,    0.,    0.,    0.,    0.,    0.],
          [   1.,  150.,    0.,   25.,  -25.,    1.,  100.,    1.,  200.,
              0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  250.,
            250.,    0.,    0.,    0.,    0.,    0.,    0.],
          [   2.,  150.,    0.,   50.,  -50.,    1.,  100.,    1.,  500.,
              0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  600.,
            600.,    0.,    0.,    0.,    0.,    0.,    0.],
          [   3., -450.,    0.,    0.,    0.,    1.,  100.,    1.,    0.,
           -450.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  500.,
            500.,    0.,    0.,    0.,  970.,    0.,    0.]]),
   'branch': array([[ 1.0e+00,  2.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
            3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
            3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
            0.0e+00,  0.0e+00,  0.0e+00],
          [ 1.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  2.4e+02,
            2.4e+02,  2.4e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
            3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
            0.0e+00,  0.0e+00,  0.0e+00],
          [ 2.0e+00,  3.0e+00,  5.0e-03,  1.0e-02,  0.0e+00,  3.0e+02,
            3.0e+02,  3.0e+02,  0.0e+00,  0.0e+00,  1.0e+00, -3.6e+02,
            3.6e+02,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,  0.0e+00,
            0.0e+00,  0.0e+00,  0.0e+00]]),
   'gencost': array([[2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
          [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
          [2.e+00, 0.e+00, 0.e+00, 3.e+00, 1.e-01, 0.e+00, 0.e+00],
          [2.e+00, 0.e+00, 0.e+00, 3.e+00, 0.e+00, 1.e+03, 0.e+00]]),
   'reserves': {'zones': array([[1., 1., 1., 0.]]),
    'req': 150.0,
    'cost': array([[1.],
           [3.],
           [5.]]),
    'qty': array([[100.],
           [100.],
           [200.]])},
   'f': 0.0,
   'et': 0.0,
   'success': 1.0}},
 'StepProb': 1.0,
 'CostWeights': 1.0,
 'CostWeightsAdj': 1.0,
 'QP': {'A': <Compressed Sparse Column sparse array of dtype 'float64'
  	with 36 stored elements and shape (13, 24)>,
  'l': array([[0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.]]),
  'u': array([[ 0.],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [ 0.],
         [ 0.],
         [ 0.],
         [ 0.]]),
  'x0': array([[ 1.25],
         [ 1.25],
         [ 2.  ],
         [-4.5 ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ],
         [ 0.  ]]),
  'xmin': array([[ 0. ],
         [ 0. ],
         [ 0. ],
         [-4.5],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [ 0. ],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf],
         [-inf]]),
  'xmax': array([[ 2.],
         [ 2.],
         [ 5.],
         [ 0.],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [inf],
         [ 4.],
         [ 4.],
         [10.],
         [ 9.],
         [ 4.],
         [ 4.],
         [10.],
         [ 9.]]),
  'vtype': 'CCCCCCCCCCCCCCCCCCCCCCCC',
  'H1': <Compressed Sparse Column sparse array of dtype 'float64'
  	with 3 stored elements and shape (24, 24)>,
  'C1': array([[     0.],
         [     0.],
         [     0.],
         [100000.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.]]),
  'c1': 0.0,
  'Cfstor': <Compressed Sparse Column sparse array of dtype 'float64'
  	with 0 stored elements and shape (1, 24)>,
  'H': <Compressed Sparse Column sparse array of dtype 'float64'
  	with 3 stored elements and shape (24, 24)>,
  'C': array([[     0.],
         [     0.],
         [     0.],
         [100000.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.],
         [     0.]]),
  'c': 0.0,
  'opt': {'alg': 'MIPS',
   'verbose': 1.0,
   'mips_opt': {'step_control': 0.0,
    'linsolver': '',
    'feastol': 5e-06,
    'gradtol': 1e-06,
    'comptol': 1e-06,
    'costtol': 1e-06,
    'max_it': 150.0,
    'sc': {'red_it': 20.0}},
   'x0': []},
  'x': array([[ 1.5       ],
         [ 1.5       ],
         [ 1.5       ],
         [-4.5       ],
         [ 1.07383412],
         [ 1.07383412],
         [ 2.2194983 ],
         [ 2.03796577],
         [ 1.07383412],
         [ 1.07383412],
         [ 2.2194983 ],
         [ 2.03796577],
         [ 1.5       ],
         [ 1.5       ],
         [ 1.5       ],
         [-4.5       ],
         [ 2.14766824],
         [ 2.14766824],
         [ 4.43899661],
         [ 4.07593154],
         [ 2.14766824],
         [ 2.14766824],
         [ 4.43899661],
         [ 4.07593154]]),
  'f': -443249.9999999571,
  'exitflag': 1.0,
  'output': {'iterations': 10.0,
   'hist': 1x11 StructArray containing the fields:
       feascond
       gradcond
       compcond
       costcond
       gamma
       stepsize
       obj
       alphap
       alphad,
   'message': 'Converged',
   'alg': 'MIPS'},
  'lambda': {'mu_l': array([[3000.00000003],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ],
          [   0.        ]]),
   'mu_u': array([[0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.]]),
   'lower': array([[    0.        ],
          [    0.        ],
          [    0.        ],
          [96999.99999998],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ],
          [    0.        ]]),
   'upper': array([[0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.]])}},
 'om': <oct2py.dynamic.opt_model at 0x112da3a10>,
 'results': {'Pc': array([[ 150.],
         [ 150.],
         [ 150.],
         [-450.]]),
  'Rpp': array([[214.76682448],
         [214.76682448],
         [443.89966099],
         [407.59315363]]),
  'Rpm': array([[214.76682448],
         [214.76682448],
         [443.89966099],
         [407.59315363]]),
  'GenPrices': array([[30.],
         [30.],
         [30.],
         [30.]]),
  'CondGenPrices': array([[30.],
         [30.],
         [30.],
         [30.]]),
  'RppPrices': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'RpmPrices': array([[0.],
         [0.],
         [0.],
         [0.]]),
  'RrpPrices': array([], shape=(4, 0), dtype=float64),
  'RrmPrices': array([], shape=(4, 0), dtype=float64),
  'ExpectedRampCost': array([], shape=(4, 0), dtype=float64),
  'ExpectedDispatch': array([[ 150.],
         [ 150.],
         [ 150.],
         [-450.]]),
  'f': -443249.9999999571,
  'success': 1.0,
  'SolveTime': 0.017119884490966797,
  'SetupTime': 0.036622047424316406}}

In [11]:
# TODO:
#   1. Fix error
#       Oct2PyError: Octave evaluation error:
#       error: get: H must be a graphics handle
#       error: called from:
#   2. ms is most summary

# ms = m.most_summary(mdo)
# ms

In [25]:
cfr2 = CaseFrames(mdo.flow.mpc)
display_cf(cfr2)

          INFO
version      2
baseMVA  100.0
f          0.0
et         0.0
success    1.0

bus

,BUS_I,BUS_TYPE,PD,QD,GS,BS,BUS_AREA,VM,VA,BASE_KV,ZONE,VMAX,VMIN,LAM_P,LAM_Q,MU_VMAX,MU_VMIN
bus,,,,,,,,,,,,,,,,,
1,1.0,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95,30.0,0.0,0.0,0.0
2,2.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95,30.0,0.0,0.0,0.0
3,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,135.0,1.0,1.05,0.95,30.0,0.0,0.0,0.0

gen

,GEN_BUS,PG,QG,QMAX,QMIN,VG,MBASE,GEN_STATUS,PMAX,PMIN,...,QC2MAX,RAMP_AGC,RAMP_10,RAMP_30,RAMP_Q,APF,MU_PMAX,MU_PMIN,MU_QMAX,MU_QMIN
gen,,,,,,,,,,,,,,,,,,,,,
1,1.0,150.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,250.0,250.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,150.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,250.0,250.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,150.0,0.0,50.0,-50.0,1.0,100.0,1.0,500.0,0.0,...,0.0,0.0,600.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,-450.0,0.0,0.0,0.0,1.0,100.0,1.0,0.0,-450.0,...,0.0,0.0,500.0,500.0,0.0,0.0,0.0,970.0,0.0,0.0

branch

,F_BUS,T_BUS,BR_R,BR_X,BR_B,RATE_A,RATE_B,RATE_C,TAP,SHIFT,...,ANGMIN,ANGMAX,PF,QF,PT,QT,MU_SF,MU_ST,MU_ANGMIN,MU_ANGMAX
branch,,,,,,,,,,,,,,,,,,,,,
1,1.0,2.0,0.005,0.01,0.0,300.0,300.0,300.0,0.0,0.0,...,-360.0,360.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,3.0,0.005,0.01,0.0,240.0,240.0,240.0,0.0,0.0,...,-360.0,360.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,3.0,0.005,0.01,0.0,300.0,300.0,300.0,0.0,0.0,...,-360.0,360.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

gencost

     MODEL  STARTUP  SHUTDOWN  NCOST   C2      C1   C0
gen
1      2.0      0.0       0.0    3.0  0.1     0.0  0.0
2      2.0      0.0       0.0    3.0  0.1     0.0  0.0
3      2.0      0.0       0.0    3.0  0.1     0.0  0.0
4      2.0      0.0       0.0    3.0  0.0  1000.0  0.0

zones

gen     1    2    3    4
zone
1     1.0  1.0  1.0  0.0

req

       PREQ
zone
1     150.0

cost

      C1
gen
1    1.0
2    3.0
3    5.0

qty

      PQTY
gen
1    100.0
2    100.0
3    200.0

In [27]:
Pg2 = cfr2.gen.loc[:, "PG"]  # active generation
lam2 = cfr2.bus.loc[:, "LAM_P"]  # nodal energy price
Pg2, lam2

(gen
 1    150.0
 2    150.0
 3    150.0
 4   -450.0
 Name: PG, dtype: float64,
 bus
 1    30.0
 2    30.0
 3    30.0
 Name: LAM_P, dtype: float64)

> [!NOTE]  
> Currently, `loadgenericdata` didn't support absolute path. This impacts various `most`
> functions. See: <https://github.com/MATPOWER/matpower/pull/283>.

In [80]:
# NOTE:
#   This code below and `m.loadxgendata(xgdtf.to_dict(), mpc)` can be skipped using,
# `xgd = m.loadxgendata("ex_xgd_uc.m", mpc)`
xgdt = m.loadgenericdata(
    "ex_xgd_uc.m", "struct", {"colnames", "data"}, "xgd_table", cf.to_mpc()
)
xgdtf = xGenDataTableFrames(data=xgdt.data, colnames=xgdt.colnames, index=cf.gen.index)
xgdtf

,CommitKey,CommitSched,MinUp,MinDown,PositiveActiveReservePrice,PositiveActiveReserveQuantity,NegativeActiveReservePrice,NegativeActiveReserveQuantity,PositiveActiveDeltaPrice,NegativeActiveDeltaPrice,PositiveLoadFollowReservePrice,PositiveLoadFollowReserveQuantity,NegativeLoadFollowReservePrice,NegativeLoadFollowReserveQuantity
gen,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,5.000000e+00,250.0,1.000000e+01,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0
2,1.0,1.0,3.0,1.0,1.000000e-08,250.0,2.000000e-08,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0
3,1.0,1.0,1.0,1.0,1.500000e+00,600.0,3.000000e+00,600.0,1.000000e-09,1.000000e-09,10.000000,100.0,10.000000,250.0
4,2.0,1.0,1.0,1.0,1.000000e-08,800.0,2.000000e-08,800.0,1.000000e-09,1.000000e-09,0.000001,800.0,0.000001,800.0

In [81]:
xgd = m.loadxgendata(xgdtf.to_xgdt(), cf.to_mpc())
xgdf = xGenDataTableFrames(data=xgd)
xgdf  # support both `xgdf["CommitSched"]` and `xgdf.CommitSched`

,CommitSched,InitialPg,RampWearCostCoeff,PositiveActiveReservePrice,PositiveActiveReserveQuantity,NegativeActiveReservePrice,NegativeActiveReserveQuantity,PositiveActiveDeltaPrice,NegativeActiveDeltaPrice,PositiveLoadFollowReservePrice,PositiveLoadFollowReserveQuantity,NegativeLoadFollowReservePrice,NegativeLoadFollowReserveQuantity,CommitKey,InitialState,MinUp,MinDown
gen,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,5.000000e+00,250.0,1.000000e+01,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,1.0,1.0
2,1.0,125.0,0.0,1.000000e-08,250.0,2.000000e-08,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,3.0,1.0
3,1.0,200.0,0.0,1.500000e+00,600.0,3.000000e+00,600.0,1.000000e-09,1.000000e-09,10.000000,100.0,10.000000,250.0,1.0,inf,1.0,1.0
4,1.0,-450.0,0.0,1.000000e-08,800.0,2.000000e-08,800.0,1.000000e-09,1.000000e-09,0.000001,800.0,0.000001,800.0,2.0,inf,1.0,1.0

In [ ]:
# NOTE:
#   1. iwind, the wind index in cf.gen, can be singleton or 2D array of (n_wind, 1)
#   2. mpc and xgd are updated with wind generators added
[iwind, mpc, xgd] = m.addwind("ex_wind_uc", cf.to_mpc(), xgdf.to_xgd(), nout=3)
xgdf = xGenDataTableFrames(data=xgd)
cf = CaseFrames(mpc)

display(xgdf)
display(cf.gen)

,CommitSched,InitialPg,RampWearCostCoeff,PositiveActiveReservePrice,PositiveActiveReserveQuantity,NegativeActiveReservePrice,NegativeActiveReserveQuantity,PositiveActiveDeltaPrice,NegativeActiveDeltaPrice,PositiveLoadFollowReservePrice,PositiveLoadFollowReserveQuantity,NegativeLoadFollowReservePrice,NegativeLoadFollowReserveQuantity,CommitKey,InitialState,MinUp,MinDown
gen,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,5.000000e+00,250.0,1.000000e+01,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,1.0,1.0
2,1.0,125.0,0.0,1.000000e-08,250.0,2.000000e-08,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,3.0,1.0
3,1.0,200.0,0.0,1.500000e+00,600.0,3.000000e+00,600.0,1.000000e-09,1.000000e-09,10.000000,100.0,10.000000,250.0,1.0,inf,1.0,1.0
4,1.0,-450.0,0.0,1.000000e-08,800.0,2.000000e-08,800.0,1.000000e-09,1.000000e-09,0.000001,800.0,0.000001,800.0,2.0,inf,1.0,1.0
5,1.0,0.0,0.0,1.000000e-08,200.0,2.000000e-08,200.0,1.000000e-09,1.000000e-09,0.000001,200.0,0.000001,200.0,2.0,inf,1.0,1.0
6,1.0,0.0,0.0,1.000000e-08,200.0,2.000000e-08,200.0,1.000000e-09,1.000000e-09,0.000001,200.0,0.000001,200.0,2.0,inf,1.0,1.0

,GEN_BUS,PG,QG,QMAX,QMIN,VG,MBASE,GEN_STATUS,PMAX,PMIN,...,PC2,QC1MIN,QC1MAX,QC2MIN,QC2MAX,RAMP_AGC,RAMP_10,RAMP_30,RAMP_Q,APF
gen,,,,,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
2,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
3,2.0,200.0,0.0,50.0,-50.0,1.0,100.0,1.0,500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,600.0,600.0,0.0,0.0
4,3.0,-450.0,0.0,0.0,0.0,1.0,100.0,1.0,0.0,-450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,500.0,500.0,0.0,0.0
5,2.0,0.0,0.0,50.0,-50.0,1.0,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,200.0,200.0,0.0,0.0
6,2.0,0.0,0.0,50.0,-50.0,1.0,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,200.0,200.0,0.0,0.0

In [ ]:
# NOTE:
#   1. iess, the ess index in cf.gen, can be singleton or 2D array of (n_ess, 1)
#   2. mpc and xgd are updated with ess added
[iess, mpc, xgd, sd] = m.addstorage("ex_storage", mpc, xgd, nout=4)
xgdf = xGenDataTableFrames(data=xgd)
cf = CaseFrames(mpc)
# TODO: convert sd into DataFrame

display(xgdf)
display(cf.gen)

,CommitSched,InitialPg,RampWearCostCoeff,PositiveActiveReservePrice,PositiveActiveReserveQuantity,NegativeActiveReservePrice,NegativeActiveReserveQuantity,PositiveActiveDeltaPrice,NegativeActiveDeltaPrice,PositiveLoadFollowReservePrice,PositiveLoadFollowReserveQuantity,NegativeLoadFollowReservePrice,NegativeLoadFollowReserveQuantity,CommitKey,InitialState,MinUp,MinDown
gen,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,5.000000e+00,250.0,1.000000e+01,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,1.0,1.0
2,1.0,125.0,0.0,1.000000e-08,250.0,2.000000e-08,250.0,1.000000e-09,1.000000e-09,0.000001,250.0,0.000001,250.0,1.0,inf,3.0,1.0
3,1.0,200.0,0.0,1.500000e+00,600.0,3.000000e+00,600.0,1.000000e-09,1.000000e-09,10.000000,100.0,10.000000,250.0,1.0,inf,1.0,1.0
4,1.0,-450.0,0.0,1.000000e-08,800.0,2.000000e-08,800.0,1.000000e-09,1.000000e-09,0.000001,800.0,0.000001,800.0,2.0,inf,1.0,1.0
5,1.0,0.0,0.0,1.000000e-08,200.0,2.000000e-08,200.0,1.000000e-09,1.000000e-09,0.000001,200.0,0.000001,200.0,2.0,inf,1.0,1.0

,GEN_BUS,PG,QG,QMAX,QMIN,VG,MBASE,GEN_STATUS,PMAX,PMIN,...,PC2,QC1MIN,QC1MAX,QC2MIN,QC2MAX,RAMP_AGC,RAMP_10,RAMP_30,RAMP_Q,APF
gen,,,,,,,,,,,,,,,,,,,,,
1,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
2,1.0,125.0,0.0,25.0,-25.0,1.0,100.0,1.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,250.0,250.0,0.0,0.0
3,2.0,200.0,0.0,50.0,-50.0,1.0,100.0,1.0,500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,600.0,600.0,0.0,0.0
4,3.0,-450.0,0.0,0.0,0.0,1.0,100.0,1.0,0.0,-450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,500.0,500.0,0.0,0.0
5,2.0,0.0,0.0,50.0,-50.0,1.0,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,200.0,200.0,0.0,0.0

In [ ]:
# TODO: convert profiles into DataFrame
profiles = m.getprofiles("ex_wind_profile_d", iwind)  # add wind profiles
profiles = m.getprofiles("ex_load_profile", profiles)  # update profiles with load
wind_profile, load_profile = profiles[0], profiles[1]

In [14]:
# m.exit()