In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
from matpower import start_instance

from matpowercaseframes import CaseFrames

In [25]:
m = start_instance()

In [26]:
CASE_NAME = "case9.m"
cf_9 = CaseFrames(CASE_NAME)
cf_9.infer_numpy()
cf_9.branch

,F_BUS,T_BUS,BR_R,BR_X,BR_B,RATE_A,RATE_B,RATE_C,TAP,SHIFT,BR_STATUS,ANGMIN,ANGMAX
branch,,,,,,,,,,,,,
1,1,4,0.0000,0.0576,0.000,250,250,250,0,0,1,-360,360
2,4,5,0.0170,0.0920,0.158,250,250,250,0,0,1,-360,360
3,5,6,0.0390,0.1700,0.358,150,150,150,0,0,1,-360,360
4,3,6,0.0000,0.0586,0.000,300,300,300,0,0,1,-360,360
5,6,7,0.0119,0.1008,0.209,150,150,150,0,0,1,-360,360
6,7,8,0.0085,0.0720,0.149,250,250,250,0,0,1,-360,360
7,8,2,0.0000,0.0625,0.000,250,250,250,0,0,1,-360,360
8,8,9,0.0320,0.1610,0.306,250,250,250,0,0,1,-360,360
9,9,4,0.0100,0.0850,0.176,250,250,250,0,0,1,-360,360

In [27]:
CASE_NAME = "case9.m"
cf_9_lc = CaseFrames(CASE_NAME, load_case_engine=m)
cf_9_lc.infer_numpy()
cf_9_lc.branch

,F_BUS,T_BUS,BR_R,BR_X,BR_B,RATE_A,RATE_B,RATE_C,TAP,SHIFT,BR_STATUS,ANGMIN,ANGMAX
branch,,,,,,,,,,,,,
1,1,4,0.0000,0.0576,0.000,250,250,250,0,0,1,-360,360
2,4,5,0.0170,0.0920,0.158,250,250,250,0,0,1,-360,360
3,5,6,0.0390,0.1700,0.358,150,150,150,0,0,1,-360,360
4,3,6,0.0000,0.0586,0.000,300,300,300,0,0,1,-360,360
5,6,7,0.0119,0.1008,0.209,150,150,150,0,0,1,-360,360
6,7,8,0.0085,0.0720,0.149,250,250,250,0,0,1,-360,360
7,8,2,0.0000,0.0625,0.000,250,250,250,0,0,1,-360,360
8,8,9,0.0320,0.1610,0.306,250,250,250,0,0,1,-360,360
9,9,4,0.0100,0.0850,0.176,250,250,250,0,0,1,-360,360

In [28]:
mpc = cf_9.to_mpc()
_ = m.runpf(mpc)

MATPOWER Version 8.1, 12-Jul-2025
Power Flow -- AC-polar-power formulation

Newton's method converged in 4 iterations.
PF successful

Converged in 0.09 seconds
================================================================================
|     System Summary                                                           |
================================================================================

How many?                How much?              P (MW)            Q (MVAr)
---------------------    -------------------  -------------  -----------------
Buses              9     Total Gen Capacity     820.0        -900.0 to 900.0
Generators         3     On-line Capacity       820.0        -900.0 to 900.0
Committed Gens     3     Generation (actual)    319.6              22.8
Loads              3     Load                   315.0             115.0
  Fixed            3       Fixed                315.0             115.0
  Dispatchable     0       Dispatchable          -0.0 of -0.0      -0.0
Shunts             0     Shunt (inj)             -0.0               0.0
Branches           9     Losses (I^2 * Z)         4.64             48.38
Transformers       0     Branch Charging (inj)     -              140.5
Inter-ties         0     Total Inter-tie Flow     0.0               0.0
Areas              1

                          Minimum                      Maximum
                 -------------------------  --------------------------------
Voltage Magnitude   0.996 p.u. @ bus 9          1.040 p.u. @ bus 1
Voltage Angle      -3.99 deg   @ bus 9          9.28 deg   @ bus 2
P Losses (I^2*R)             -                  2.30 MW    @ line 8-9
Q Losses (I^2*X)             -                 15.83 MVAr  @ line 8-2

================================================================================
|     Bus Data                                                                 |
================================================================================
 Bus      Voltage          Generation             Load
  #   Mag(pu) Ang(deg)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
----- ------- --------  --------  --------  --------  --------
    1  1.040    0.000*    71.64     27.05       -         -
    2  1.025    9.280    163.00      6.65       -         -
    3  1.025    4.665     85.00    -10.86       -         -
    4  1.026   -2.217       -         -         -         -
    5  1.013   -3.687       -         -       90.00     30.00
    6  1.032    1.967       -         -         -         -
    7  1.016    0.728       -         -      100.00     35.00
    8  1.026    3.720       -         -         -         -
    9  0.996   -3.989       -         -      125.00     50.00
                        --------  --------  --------  --------
               Total:    319.64     22.84    315.00    115.00

================================================================================
|     Branch Data                                                              |
================================================================================
Brnch   From   To    From Bus Injection   To Bus Injection     Loss (I^2 * Z)
  #     Bus    Bus    P (MW)   Q (MVAr)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
-----  -----  -----  --------  --------  --------  --------  --------  --------
   1      1      4     71.64     27.05    -71.64    -23.92     0.000      3.12
   2      4      5     30.70      1.03    -30.54    -16.54     0.166      0.90
   3      5      6    -59.46    -13.46     60.82    -18.07     1.354      5.90
   4      3      6     85.00    -10.86    -85.00     14.96     0.000      4.10
   5      6      7     24.18      3.12    -24.10    -24.30     0.088      0.75
   6      7      8    -75.90    -10.70     76.38     -0.80     0.475      4.03
   7      8      2   -163.00      9.18    163.00      6.65     0.000     15.83
   8      8      9     86.62     -8.38    -84.32    -11.31     2.300     11.57
   9      9      4    -40.68    -38.69     40.94     22.89     0.258      2.19
                                                             --------  --------
                                                    Total:     4.641     48.38

In [29]:
mpc = cf_9_lc.to_mpc()
_ = m.runpf(mpc)

MATPOWER Version 8.1, 12-Jul-2025
Power Flow -- AC-polar-power formulation

Newton's method converged in 4 iterations.
PF successful

Converged in 0.04 seconds
================================================================================
|     System Summary                                                           |
================================================================================

How many?                How much?              P (MW)            Q (MVAr)
---------------------    -------------------  -------------  -----------------
Buses              9     Total Gen Capacity     820.0        -900.0 to 900.0
Generators         3     On-line Capacity       820.0        -900.0 to 900.0
Committed Gens     3     Generation (actual)    319.6              22.8
Loads              3     Load                   315.0             115.0
  Fixed            3       Fixed                315.0             115.0
  Dispatchable     0       Dispatchable          -0.0 of -0.0      -0.0
Shunts             0     Shunt (inj)             -0.0               0.0
Branches           9     Losses (I^2 * Z)         4.64             48.38
Transformers       0     Branch Charging (inj)     -              140.5
Inter-ties         0     Total Inter-tie Flow     0.0               0.0
Areas              1

                          Minimum                      Maximum
                 -------------------------  --------------------------------
Voltage Magnitude   0.996 p.u. @ bus 9          1.040 p.u. @ bus 1
Voltage Angle      -3.99 deg   @ bus 9          9.28 deg   @ bus 2
P Losses (I^2*R)             -                  2.30 MW    @ line 8-9
Q Losses (I^2*X)             -                 15.83 MVAr  @ line 8-2

================================================================================
|     Bus Data                                                                 |
================================================================================
 Bus      Voltage          Generation             Load
  #   Mag(pu) Ang(deg)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
----- ------- --------  --------  --------  --------  --------
    1  1.040    0.000*    71.64     27.05       -         -
    2  1.025    9.280    163.00      6.65       -         -
    3  1.025    4.665     85.00    -10.86       -         -
    4  1.026   -2.217       -         -         -         -
    5  1.013   -3.687       -         -       90.00     30.00
    6  1.032    1.967       -         -         -         -
    7  1.016    0.728       -         -      100.00     35.00
    8  1.026    3.720       -         -         -         -
    9  0.996   -3.989       -         -      125.00     50.00
                        --------  --------  --------  --------
               Total:    319.64     22.84    315.00    115.00

================================================================================
|     Branch Data                                                              |
================================================================================
Brnch   From   To    From Bus Injection   To Bus Injection     Loss (I^2 * Z)
  #     Bus    Bus    P (MW)   Q (MVAr)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
-----  -----  -----  --------  --------  --------  --------  --------  --------
   1      1      4     71.64     27.05    -71.64    -23.92     0.000      3.12
   2      4      5     30.70      1.03    -30.54    -16.54     0.166      0.90
   3      5      6    -59.46    -13.46     60.82    -18.07     1.354      5.90
   4      3      6     85.00    -10.86    -85.00     14.96     0.000      4.10
   5      6      7     24.18      3.12    -24.10    -24.30     0.088      0.75
   6      7      8    -75.90    -10.70     76.38     -0.80     0.475      4.03
   7      8      2   -163.00      9.18    163.00      6.65     0.000     15.83
   8      8      9     86.62     -8.38    -84.32    -11.31     2.300     11.57
   9      9      4    -40.68    -38.69     40.94     22.89     0.258      2.19
                                                             --------  --------
                                                    Total:     4.641     48.38

In [30]:
for attr in cf_9.attributes:
    display(attr, getattr(cf_9, attr))

'version'

'2'

'baseMVA'

100

'bus'

,BUS_I,BUS_TYPE,PD,QD,GS,BS,BUS_AREA,VM,VA,BASE_KV,ZONE,VMAX,VMIN
bus,,,,,,,,,,,,,
1,1,3,0,0,0,0,1,1,0,345,1,1.1,0.9
2,2,2,0,0,0,0,1,1,0,345,1,1.1,0.9
3,3,2,0,0,0,0,1,1,0,345,1,1.1,0.9
4,4,1,0,0,0,0,1,1,0,345,1,1.1,0.9
5,5,1,90,30,0,0,1,1,0,345,1,1.1,0.9
6,6,1,0,0,0,0,1,1,0,345,1,1.1,0.9
7,7,1,100,35,0,0,1,1,0,345,1,1.1,0.9
8,8,1,0,0,0,0,1,1,0,345,1,1.1,0.9
9,9,1,125,50,0,0,1,1,0,345,1,1.1,0.9

'gen'

,GEN_BUS,PG,QG,QMAX,QMIN,VG,MBASE,GEN_STATUS,PMAX,PMIN,...,PC2,QC1MIN,QC1MAX,QC2MIN,QC2MAX,RAMP_AGC,RAMP_10,RAMP_30,RAMP_Q,APF
gen,,,,,,,,,,,,,,,,,,,,,
1,1,72.3,27.03,300,-300,1.040,100,1,250,10,...,0,0,0,0,0,0,0,0,0,0
2,2,163.0,6.54,300,-300,1.025,100,1,300,10,...,0,0,0,0,0,0,0,0,0,0
3,3,85.0,-10.95,300,-300,1.025,100,1,270,10,...,0,0,0,0,0,0,0,0,0,0

'branch'

,F_BUS,T_BUS,BR_R,BR_X,BR_B,RATE_A,RATE_B,RATE_C,TAP,SHIFT,BR_STATUS,ANGMIN,ANGMAX
branch,,,,,,,,,,,,,
1,1,4,0.0000,0.0576,0.000,250,250,250,0,0,1,-360,360
2,4,5,0.0170,0.0920,0.158,250,250,250,0,0,1,-360,360
3,5,6,0.0390,0.1700,0.358,150,150,150,0,0,1,-360,360
4,3,6,0.0000,0.0586,0.000,300,300,300,0,0,1,-360,360
5,6,7,0.0119,0.1008,0.209,150,150,150,0,0,1,-360,360
6,7,8,0.0085,0.0720,0.149,250,250,250,0,0,1,-360,360
7,8,2,0.0000,0.0625,0.000,250,250,250,0,0,1,-360,360
8,8,9,0.0320,0.1610,0.306,250,250,250,0,0,1,-360,360
9,9,4,0.0100,0.0850,0.176,250,250,250,0,0,1,-360,360

'gencost'

     MODEL  STARTUP  SHUTDOWN  NCOST      C2   C1   C0
gen
1        2     1500         0      3  0.1100  5.0  150
2        2     2000         0      3  0.0850  1.2  600
3        2     3000         0      3  0.1225  1.0  335

In [31]:
m.exit()